---
layout: default
language: en
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
            <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
    <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></p>

        {{ post.excerpt }}
      </li>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}posts/page{{paginator.next_page}}">page.prev();</a>
  {% else %}
    <span class="pagination-item older">page.prev();</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}posts/">page.next();</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}posts/page{{paginator.previous_page}}">page.next();</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">page.next();</span>
  {% endif %}
</div>

</div>
