<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="{{ site.baseurl }}" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.title }}" /></a>

      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}">{{ site.description }}</a></h1>
        <!-- <p class="site-description">{{ site.description }}</p> -->
      </div>

      <nav>
        <a href="{{ site.baseurl }}book">Livre</a>
        <a href="{{ site.baseurl }}code">Code</a>
        <a href="{{ site.baseurl }}problems">Problèmes</a>
        <a href="{{ site.baseurl }}en">Blog</a>
        <a href="{{ site.baseurl }}club">Club</a>
      </nav>
    </header>
  </div>
</div>
