<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      {% if page.lang == 'en' %}
        <a href="/"><img src="/public/french.png" style="float: right" /></a>
        <a href="/index-en" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.title }}" /></a>
        <div class="site-info">
          <h1 class="site-name"><a href="/index-en">{{ site.description_en }}</a></h1>
        </div>
      {% else %}
        <a href="/index-en"><img src="/public/english.png" style="float: right" /></a>
        <a href="/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.title }}" /></a>
        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}">{{ site.description }}</a></h1>
        </div>
      {% endif %}

      <nav>
        {% if page.lang != 'en' %}<a href="{{ site.baseurl }}book">Livre</a>{% endif %}
        <a href="{{ site.baseurl }}code">Code</a>
        <a href="{{ site.baseurl }}contests">{% if page.lang == 'en' %}Contests{% else %}Concours{% endif %}</a>
        <a href="{{ site.baseurl }}problems">{% if page.lang == 'en' %}Problems{% else %}Problèmes{% endif %}</a>
        <a href="{{ site.baseurl }}en">Solutions</a>
        <a href="{{ site.baseurl }}fr">Blog</a>
        {% if page.lang != 'en' %}<a href="{{ site.baseurl }}club">Club</a>{% endif %}
        <a href="https://github.com/jilljenn/tryalgo/tree/master/tryalgo">GitHub</a>
      </nav>
    </header>
  </div>
</div>
