<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      {% if page.lang == 'en' %}
        <a href="/"><img src="/public/french.png" style="float: right" /></a>
        <a href="/index-en" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.title }}" /></a>
        <div class="site-info">
          <h1 class="site-name"><a href="/index-en">{{ site.description_en }}</a></h1>
        </div>
      {% else %}
        <a href="/index-en"><img src="/public/english.png" style="float: right" /></a>
        <a href="/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.title }}" /></a>
        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.url }}/">{{ site.description }}</a></h1>
        </div>
      {% endif %}

      <nav>
        {% if page.lang == 'en' %}<a href="{{ site.url }}/useful-resources-en">Learn</a>{% else %}<a href="{{ site.url }}/useful-resources">Apprendre</a>{% endif %}
        {% if page.lang == 'en' %}<a href="{{ site.url }}/contests-en">Contests</a>{% else %}<a href="{{ site.url }}/contests">Compétitions</a>{% endif %}
        <a href="{{ site.url }}/problems">{% if page.lang == 'en' %}Problems{% else %}Problèmes{% endif %}</a>
        <a href="{{ site.url }}/en">Solutions</a>
        <a href="{{ site.url }}/fr">Blog</a>
      </nav>
    </header>
  </div>
</div>
