<table class="sortable"><tr><th>chapter</th><th>problem</th><th>judge</th></tr>
<tr><td>anagrams</td><td>Anagram verifier</td><td><a href="https://www.spoj.com/problems/ANGRAM/">[spoj:ANGRAM]</a></td></tr>
<tr><td>arithm_expr_eval</td><td>Boolean Logic</td><td><a href="https://www.spoj.com/problems/BOOLE/">[spoj:BOOLE]</a></td></tr>
<tr><td>arithm_expr_eval</td><td>Arithmetic Expressions</td><td><a href="https://www.spoj.com/problems/AREX/">[spoj:AREX]</a></td></tr>
<tr><td>arithm_expr_eval</td><td>Cells</td><td><a href="http://www.spoj.com/problems/IPCELLS/">[spoj:IPCELLS]</a></td></tr>
<tr><td>bellman_ford</td><td>Negative Cycles</td><td><a href="http://www.spoj.com/problems/NEGCYC/">[spoj:NEGCYC]</a></td></tr>
<tr><td>bfs</td><td>Hike on a Graph</td><td><a href="http://www.spoj.com/problems/HIKE/">[spoj:HIKE]</a></td></tr>
<tr><td>bfs</td><td>Prime Path</td><td><a href="http://www.spoj.com/problems/HIKE/">[spoj:PPATH]</a></td></tr>
<tr><td>biconnected_components</td><td>Police Query</td><td><a href="https://www.spoj.com/problems/POLQUERY/">[spoj:POLQUERY]</a></td></tr>
<tr><td>binary_search</td><td>Fill the cisterns</td><td><a href="http://www.spoj.com/problems/CISTFILL/">[spoj:CISTFILL]</a></td></tr>
<tr><td>binary_search</td><td>Egg Drop</td><td><a href="https://code.google.com/codejam/contest/32003/dashboard#s=p2">[gcj:eggdrop]</a></td></tr>
<tr><td>bipartite_matching</td><td>Crime Wave</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=onlinejudge&page=show_problem&problem=3585">[icpcarchive:5584]</a></td></tr>
<tr><td>bipartite_matching</td><td>Dungeon of Death</td><td><a href="http://www.spoj.com/problems/QUEST4/">[spoj:QUEST4]</a></td></tr>
<tr><td>bipartite_matching</td><td>Muddy Fields</td><td><a href="http://www.spoj.com/problems/MUDDY/">[spoj:MUDDY]</a></td></tr>
<tr><td>bipartite_matching</td><td>Mission Improbable</td><td><a href="https://open.kattis.com/problems/improbable">[kattis:improbable]</a></td></tr>
<tr><td>closest_points</td><td>Closest Point Pair</td><td><a href="https://www.spoj.com/problems/CLOPPAIR/">[spoj:CLOPPAIR]</a></td></tr>
<tr><td>closest_points</td><td>Closest Triplet</td><td><a href="https://www.spoj.com/problems/CLOSEST/">[spoj:CLOSEST]</a></td></tr>
<tr><td>connected_components</td><td>The Ant</td><td><a href="http://www.spoj.com/problems/ANTTT/">[spoj:ANTTT]</a></td></tr>
<tr><td>connected_components</td><td>Lego</td><td><a href="https://www.spoj.com/problems/LEGO/">[spoj:LEGO]</a></td></tr>
<tr><td>conseils</td><td>See</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=onlinejudge&page=show_problem&problem=6176">[icpcarchive:8154]</a></td></tr>
<tr><td>convex_hull</td><td>Doors and Penguins</td><td><a href="https://www.spoj.com/problems/DOORSPEN/">[spoj:DOORSPEN]</a></td></tr>
<tr><td>convex_hull</td><td>Build the Fence</td><td><a href="https://www.spoj.com/problems/BSHEEP/">[spoj:BSHEEP]</a></td></tr>
<tr><td>convex_hull</td><td>See</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=com_onlinejudge&Itemid=8&category=783&page=show_problem&problem=6177">[icpcarchive:8155]</a></td></tr>
<tr><td>convex_hull</td><td>Build the Fence</td><td><a href="https://www.spoj.com/problems/BSHEEP/">[spoj:BSHEEP]</a></td></tr>
<tr><td>convex_hull</td><td>See</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=com_onlinejudge&Itemid=8&category=783&page=show_problem&problem=6177">[icpcarchive:8155]</a></td></tr>
<tr><td>dancing_links</td><td>Sudoku</td><td><a href="https://www.spoj.com/problems/SUDOKU/">[spoj:SUDOKU]</a></td></tr>
<tr><td>dancing_links</td><td>Making Jumps</td><td><a href="https://www.spoj.com/problems/MKJUMPS/">[spoj:MKJUMPS]</a></td></tr>
<tr><td>data_1d</td><td>Unique Encryption Keys</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=3892">[icpcarchive:5881]</a></td></tr>
<tr><td>dfs</td><td>ABC Path</td><td><a href="https://www.spoj.com/problems/ABCPATH/">[spoj:ABCPATH]</a></td></tr>
<tr><td>dfs</td><td>A Bug’s Life</td><td><a href="https://www.spoj.com/problems/BUGLIFE/">[spoj:BUGLIFE]</a></td></tr>
<tr><td>dijkstra</td><td>Mice and Maze</td><td><a href="https://www.spoj.com/problems/MICEMAZE/">[spoj:MICEMAZE]</a></td></tr>
<tr><td>dijkstra</td><td>Almost Shortest Path</td><td><a href="https://www.spoj.com/problems/SAMER08A/">[spoj:SAMER08A]</a></td></tr>
<tr><td>dijkstra</td><td>Dragon Maze</td><td><a href="https://code.google.com/codejam/contest/2929486/dashboard#s=p3">[gcj:China2014roundB]</a></td></tr>
<tr><td>dijkstra</td><td>Potholers</td><td><a href="https://www.spoj.com/problems/POTHOLE/">[spoj:POTHOLE]</a></td></tr>
<tr><td>dilworth</td><td>Reservations of taxis</td><td><a href="https://open.kattis.com/problems/taxicab">[kattis:taxicab]</a></td></tr>
<tr><td>dilworth</td><td>Stock Charts</td><td><a href="https://code.google.com/codejam/contest/204113/dashboard#s=p2">[gcj:2009round2C]</a></td></tr>
<tr><td>dilworth</td><td>Taxi  Cab Scheme</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=onlinejudge&page=show_problem&problem=1127">[icpcarchive:3126]</a></td></tr>
<tr><td>dinic</td><td>Fast Maximum Flow</td><td><a href="http://www.spoj.com/problems/FASTFLOW/">[spoj:FASTFLOW]</a></td></tr>
<tr><td>dist_grid</td><td>A Famous Grid</td><td><a href="http://www.spoj.com/problems/SPIRALGR/">[spoj:SPIRALGR]</a></td></tr>
<tr><td>input_output</td><td>Enormous Input Test</td><td><a href="http://www.spoj.com/problems/INTEST/">[spoj:INTEST]</a></td></tr>
<tr><td>eratosthene</td><td>The Spiral of Primes</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=com_onlinejudge&Itemid=8&category=79&page=show_problem&problem=121">[icpcarchive:2120]</a></td></tr>
<tr><td>eratosthene</td><td>Prime or Not</td><td><a href="https://www.spoj.com/problems/PON/">[spoj:PON]</a></td></tr>
<tr><td>eratosthene</td><td>Bazinga!</td><td><a href="https://www.spoj.com/problems/DCEPC505/">[spoj:DCEPC505]</a></td></tr>
<tr><td>eulerian_tour</td><td>Goldbach graphs</td><td><a href="http://www.spoj.com/problems/GOLDG/">[spoj:GOLDG]</a></td></tr>
<tr><td>eulerian_tour</td><td>Free Tour</td><td><a href="http://www.spoj.com/problems/FTOUR/">[spoj:FTOUR]</a></td></tr>
<tr><td>fast_exponentiation</td><td>The last digit</td><td><a href="https://www.spoj.com/problems/LASTDIG/">[spoj:LASTDIG]</a></td></tr>
<tr><td>fast_exponentiation</td><td>Tiling a Grid With Dominoes</td><td><a href="http://www.spoj.com/problems/GNY07H/">[spoj:GNY07H]</a></td></tr>
<tr><td>floyd_warshall</td><td>Roads in Berland</td><td><a href="http://www.spoj.com/problems/CT25C/">[spoj:CT25C]</a></td></tr>
<tr><td>ford_fulkerson</td><td>Potholers</td><td><a href="https://www.spoj.com/problems/POTHOLE/">[spoj:POTHOLE]</a></td></tr>
<tr><td>ford_fulkerson</td><td>Maximum Flow</td><td><a href="https://www.spoj.com/A12/problems/FLOW/">[spoj:FLOW]</a></td></tr>
<tr><td>gale_shapley</td><td>Stable Marriage Problem</td><td><a href="http://www.spoj.com/problems/STABLEMP/">[spoj:STABLEMP]</a></td></tr>
<tr><td>gauss_jordan</td><td>Ars Longa</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=com_onlinejudge&Itemid=8&category=18&page=show_problem&problem=1564">[icpcarchive:3563]</a></td></tr>
<tr><td>gauss_jordan</td><td>Linear Equation Solver</td><td><a href="https://www.spoj.com/problems/LINQSOLV/">[spoj:LINQSOLV]</a></td></tr>
<tr><td>greedy</td><td>Minimum Scalar Product</td><td><a href="https://code.google.com/codejam/contest/32016/dashboard">[gcj:2008round1A]</a></td></tr>
<tr><td>greedy</td><td>Minimal Coverage</td><td><a href="https://acm.timus.ru/problem.aspx?space=1&num=1303">[timus:1303]</a></td></tr>
<tr><td>graph01</td><td>KATHTHI</td><td><a href="https://www.spoj.com/problems/KATHTHI/">[spoj:KATHTHI]</a></td></tr>
<tr><td>huffman</td><td>Huffman Trees</td><td><a href="http://poj.org/problem?id=1261">[poj:1261]</a></td></tr>
<tr><td>huffman</td><td>Variable Radix Huffman Encoding</td><td><a href="http://www.spoj.com/problems/VHUFFM/">[spoj:VHUFFM]</a></td></tr>
<tr><td>intervals_cover</td><td>Radar Installation</td><td><a href="https://onlinejudge.org/index.php?option=onlinejudge&page=show_problem&problem=3634">[onlinejudge:1193]</a></td></tr>
<tr><td>intro</td><td>It can be arranged</td><td><a href="https://open.kattis.com/problems/itcanbearranged">[kattis:itcanbearranged]</a></td></tr>
<tr><td>intro</td><td>Ricochet Robots</td><td><a href="https://open.kattis.com/problems/ricochetrobots">[kattis:ricochetrobots]</a></td></tr>
<tr><td>k-sum</td><td>4 Values whose Sum is 0</td><td><a href="http://poj.org/problem?id=2785">[poj:2785]</a></td></tr>
<tr><td>kadane</td><td>Maximum Sum Sequences</td><td><a href="https://www.spoj.com/problems/MAXSUMSQ/">[spoj:MAXSUMSQ]</a></td></tr>
<tr><td>kadane</td><td>Largest Rectangle</td><td><a href="https://www.codechef.com/problems/LARGEST">[codechef:LARGEST]</a></td></tr>
<tr><td>knapsack</td><td>The Knapsack Problem</td><td><a href="https://www.spoj.com/problems/KNAPSACK/">[spoj:KNAPSACK]</a></td></tr>
<tr><td>knapsack</td><td>Knapsack</td><td><a href="https://www.spoj.com/problems/KNPSACK/">[spoj:KNPSACK]</a></td></tr>
<tr><td>knuth_morris_pratt</td><td>Find the maximal product of string prefixes</td><td><a href="https://codility.com/programmers/challenges/carbo2013">[codility:carbo2013]</a></td></tr>
<tr><td>knuth_morris_pratt</td><td>A Needle in the Haystack</td><td><a href="http://www.spoj.com/problems/NHAY/">[spoj:NHAY]</a></td></tr>
<tr><td>knuth_morris_pratt</td><td>Power strings</td><td><a href="https://open.kattis.com/problems/powerstrings">[kattis:powerstrings]</a></td></tr>
<tr><td>knuth_morris_pratt</td><td>Period</td><td><a href="https://www.spoj.com/problems/PERIOD/">[spoj:PERIOD]</a></td></tr>
<tr><td>kruskal</td><td>Cobbled streets</td><td><a href="https://www.spoj.com/problems/CSTREET/">[spoj:CSTREET]</a></td></tr>
<tr><td>kruskal</td><td>Minimum Spanning Tree</td><td><a href="https://www.spoj.com/problems/MST/">[spoj:MST]</a></td></tr>
<tr><td>kuhn_munkres</td><td>Selfish Cities</td><td><a href="http://www.spoj.com/problems/SCITIES/">[spoj:SCITIES]</a></td></tr>
<tr><td>levenshtein</td><td>Philosophers Stone</td><td><a href="https://www.spoj.com/problems/MIXTURES/">[spoj:BYTESM2]</a></td></tr>
<tr><td>levenshtein</td><td>Edit distance</td><td><a href="http://www.spoj.com/problems/EDIST/">[spoj:EDIST]</a></td></tr>
<tr><td>levenshtein</td><td>Advanced Edit Distance</td><td><a href="http://www.spoj.com/problems/ADVEDIST/">[spoj:ADVEDIST]</a></td></tr>
<tr><td>longest_common_subsequence</td><td>Longest Common Substring</td><td><a href="https://www.spoj.com/problems/LCS/">[spoj:LCS]</a></td></tr>
<tr><td>longest_common_subsequence</td><td>Longest Common Subsequence</td><td><a href="http://www.spoj.com/problems/LCS0/">[spoj:LCS0]</a></td></tr>
<tr><td>longest_increasing_subsequence</td><td>Easy Longest Increasing Subsequence</td><td><a href="http://www.spoj.com/problems/ELIS/">[spoj:ELIS]</a></td></tr>
<tr><td>lowest_common_ancestor</td><td>Lowest Common Ancestor</td><td><a href="https://www.spoj.com/problems/LCA/">[spoj:LCA]</a></td></tr>
<tr><td>manacher</td><td>Longest Palindromic Substring</td><td><a href="https://www.spoj.com/problems/LPS/">[spoj:LPS]</a></td></tr>
<tr><td>manacher</td><td>Casting Spells</td><td><a href="https://open.kattis.com/problems/castingspells">[kattis:castingspells]</a></td></tr>
<tr><td>matrix_chain_mult</td><td>Mixtures</td><td><a href="http://www.spoj.com/problems/MIXTURES/">[spoj:Mixtures]</a></td></tr>
<tr><td>matrix_chain_mult</td><td>The Safe Secret</td><td><a href="https://open.kattis.com/problems/safesecret">[kattis:safesecret]</a></td></tr>
<tr><td>matrix_chain_mult</td><td>Sweet and Sour Rock</td><td><a href="http://www.spoj.com/problems/ROCK/">[spoj:ROCK]</a></td></tr>
<tr><td>merge_ordered_lists</td><td>Mergesort</td><td><a href="https://www.spoj.com/problems/MERGSORT/">[spoj:MERGSORT]</a></td></tr>
<tr><td>min_cut</td><td>Landscaping</td><td><a href="https://open.kattis.com/problems/landscaping">[kattis:landscaping]</a></td></tr>
<tr><td>min_cut</td><td>Coconuts</td><td><a href="https://www.spoj.com/problems/COCONUTS/">[spoj:COCONUTS]</a></td></tr>
<tr><td>min_mean_cycle</td><td>Word Rings</td><td><a href="http://www.spoj.com/problems/WORDRING/">[spoj:WORDRING]</a></td></tr>
<tr><td>next_permutation</td><td>The Next Permutation</td><td><a href="https://www.spoj.com/PUJ2013/problems/NEXT/">[spoj:NEXT]</a></td></tr>
<tr><td>next_permutation</td><td>Great Swerc</td><td><a href="https://www.spoj.com/problems/SWERC14A/">[spoj:SWERC14A]</a></td></tr>
<tr><td>shortest_paths_variants</td><td>Almost Shortest Path</td><td><a href="https://www.spoj.com/problems/SAMER08A/">[spoj:SAMER08A]</a></td></tr>
<tr><td>shortest_paths_variants</td><td>Flowery Trails</td><td><a href="https://open.kattis.com/problems/flowerytrails">[kattis:flowerytrails]</a></td></tr>
<tr><td>longest_path_in_tree</td><td>Labyrinth</td><td><a href="http://www.spoj.com/problems/LABYR1/">[spoj:LABYR1]</a></td></tr>
<tr><td>longest_path_in_tree</td><td>Longest path in a tree</td><td><a href="http://www.spoj.com/problems/PT07Z/">[spoj:PT07Z]</a></td></tr>
<tr><td>longest_path_in_tree</td><td>SpeedCameras</td><td><a href="https://codility.com/programmers/custom_challenge/calcium2015">[codility:calcium2015]</a></td></tr>
<tr><td>polygon</td><td>Toil for Oil</td><td><a href="https://www.spoj.com/problems/OIL/">[spoj:OIL]</a></td></tr>
<tr><td>powerstring</td><td>Power strings</td><td><a href="https://open.kattis.com/problems/powerstrings">[kattis:powerstrings]</a></td></tr>
<tr><td>powerstring</td><td>Period</td><td><a href="http://www.spoj.com/problems/PERIOD/">[spoj:PERIOD]</a></td></tr>
<tr><td>predictive_text</td><td>T9</td><td><a href="http://poj.org/problem?id=1451">[poj:1451]</a></td></tr>
<tr><td>prog-dyn</td><td>Fibonacci Sum</td><td><a href="https://www.spoj.com/problems/FIBOSUM/">[spoj:FIBOSUM]</a></td></tr>
<tr><td>rabin_karp</td><td>Longest Common Substring</td><td><a href="https://www.spoj.com/problems/LCS/">[spoj:LCS]</a></td></tr>
<tr><td>range_minimum_query</td><td>Negative Score</td><td><a href="https://www.spoj.com/problems/RPLN/">[spoj:RPLN]</a></td></tr>
<tr><td>rectangles_from_histogram</td><td>Largest Rectangle in a Histogram</td><td><a href="https://www.spoj.com/problems/HISTOGRA/">[spoj:HISTOGRA]</a></td></tr>
<tr><td>rectangles_from_histogram</td><td>Galerie d'art</td><td><a href="https://prologin.org/train/2012/semifinal/galerie">[prologin:2012:galerie]</a></td></tr>
<tr><td>rectangles_from_points</td><td>Rectangle</td><td><a href="https://www.spoj.com/problems/HMSRECT/">[spoj:HMSRECT]</a></td></tr>
<tr><td>squares_from_grid</td><td>Making Chess Boards</td><td><a href="https://www.spoj.com/problems/CT101CC/">[spoj:CT101CC]</a></td></tr>
<tr><td>strongly_connected_components</td><td>Capital City</td><td><a href="http://www.spoj.com/problems/CAPCITY/">[spoj:CAPCITY]</a></td></tr>
<tr><td>structures</td><td>Encryption</td><td><a href="https://www.spoj.com/problems/CENCRY/">[spoj:CENCRY]</a></td></tr>
<tr><td>structures</td><td>Phone List</td><td><a href="http://www.spoj.com/problems/PHONELST/">[spoj:PHONELST]</a></td></tr>
<tr><td>structures</td><td>A concrete simulation</td><td><a href="http://www.spoj.com/problems/ACS/">[spoj:ACS]</a></td></tr>
<tr><td>structures</td><td>Havannah</td><td><a href="https://code.google.com/codejam/contest/1835486/dashboard#s=p1">[gcj:2013round3B]</a></td></tr>
<tr><td>subsetsum</td><td>Boat Burglary</td><td><a href="https://www.spoj.com/problems/BURGLARY/">[spoj:BURGLARY]</a></td></tr>
<tr><td>sudoku</td><td>Easy sudoku</td><td><a href="http://www.spoj.com/problems/EASUDOKU/">[spoj:EASUDOKU]</a></td></tr>
<tr><td>sudoku</td><td>Sudoku</td><td><a href="http://www.spoj.com/problems/SUDOKU/">[spoj:SUDOKU]</a></td></tr>
<tr><td>sweepline</td><td>Back to the future</td><td><a href="https://prologin.org/train/2012/semifinal/retour_vers_le_futur">[prologin:demi2012]</a></td></tr>
<tr><td>topological_order</td><td>Topological Sorting</td><td><a href="https://www.spoj.com/problems/TOPOSORT/">[spoj:TOPOSORT]</a></td></tr>
<tr><td>topological_order</td><td>Project File Dependencies</td><td><a href="http://www.spoj.com/problems/PFDEP/">[spoj:PFDEP]</a></td></tr>
<tr><td>topological_order</td><td>All Disks Considered</td><td><a href="https://www.spoj.com/problems/ALL/">[spoj:ALL]</a></td></tr>
<tr><td>traveling_salesman</td><td>Small TSP</td><td><a href="https://www.spoj.com/problems/STSP/">[spoj:STSP]</a></td></tr>
<tr><td>traveling_salesman</td><td>Collecting Beepers</td><td><a href="https://open.kattis.com/problems/beepers">[kattis:beepers]</a></td></tr>
<tr><td>traveling_salesman</td><td>See</td><td><a href="https://www.spoj.com/problems/MENUTOUR/">[spoj:MENUTOUR]</a></td></tr>
<tr><td>sorting</td><td>Spelling Lists</td><td><a href="https://www.spoj.com/problems/MIB/">[spoj:MIB]</a></td></tr>
<tr><td>sorting</td><td>Yodaness Level</td><td><a href="https://www.spoj.com/problems/YODANESS/">[spoj:YODANESS]</a></td></tr>
<tr><td>trie</td><td>Spell checker</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=1873">[icpcarchive:3872]</a></td></tr>
<tr><td>two_sat</td><td>Manhattan</td><td><a href="https://open.kattis.com/problems/manhattan">[kattis:manhattan]</a></td></tr>
<tr><td>two_sat</td><td>Soldiers on Parade</td><td><a href="http://www.spoj.com/problems/SOPARADE/">[spoj:SOPARADE]</a></td></tr>
<tr><td>union_disjoint_rectangles</td><td>City Park</td><td><a href="https://icpcarchive.ecs.baylor.edu/index.php?option=com_onlinejudge&Itemid=8&category=657&page=show_problem&problem=4901">[icpcarchive:6889]</a></td></tr>
<tr><td>windows_k_distinct</td><td>Épiphanie</td><td><a href="https://prologin.org/train/2011/semifinal/epiphanie">[prologin:2011:epiphanie]</a></td></tr>
</table>
