<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <hr />
      Inscrivez-vous au <a href="/club/">workshop samedi 6/2 à 14 h</a>, ENS Cachan !
      <input type="text" id="mail" onkeydown="if(event.keyCode == 13) {document.getElementById('btn').click(); this.value = ''};" placeholder="Votre mail" />
      <button id="btn" onclick="microAjax('/register/', function () {document.getElementById('btn').innerHTML = 'Merci !'}, 'mail=' + document.getElementById('mail').value)">OK</button>
      <hr />
    </div>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Teaser</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null and node.front %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="toc.pdf"><i class="fa fa-download"></i> Table des matières</a>
      <a class="sidebar-nav-item" href="http://www.amazon.fr/gp/product/2340010055/ref=as_li_tl?ie=UTF8&camp=1642&creative=19458&creativeASIN=2340010055&linkCode=as2&tag=mangaki-21" target="_blank">Acheter sur Amazon</a>
      Projets GitHub : <a href="{{ site.github.tryalgo }}" target="_blank">tryalgo</a> / <a href="{{ site.github.meta }}" target="_blank">méta</a>
       <iframe src="https://ghbtns.com/github-btn.html?user=jilljenn&repo=tryalgo&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}</p>
  </div>
</div>
