---
layout: default
---

<div id="post-nav" class="clearfix nav-slide">
    <div class="work">
        {% if page.previous.url %}
        <a class="prev" href="{{ page.previous.url }}">
            <span class="slide-wrap">← {{ page.previous.title }}</span>
        </a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if page.next.url %}
        <a class="next" style="float: right" href="{{ page.next.url }}">
            <span class="slide-wrap">{{ page.next.title }} →</span>
        </a>
        {% endif %}
    </div>
</div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.category %}
         • <span itemprop="category">{{ page.category }}</span>
      {% endif %}
      {% if page.author %}
         • <span itemprop="author">{{ page.author }}</span>
      {% endif %}
      {% if post.problems %}
        <br>Problèmes liés :
        {% for pb in post.problems %}
           <a href="{{ pb[1] }}">[{{ pb[0] }}]</a>
        {% endfor %}
      {% endif %}
    </p>
  </header>

  <div class="share-page" align="right">
    Partager sur &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ site.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ author.twitter }}&amp;related={{ author.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a> /
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a> /
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
  </div>

  {{ content }}

  <div class="share-page">
    Partager sur &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ site.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ author.twitter }}&amp;related={{ author.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a> /
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a> /
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
  </div>

  <h2>Commentaires</h2>

  <script data-isso="//comments.jiji.cat/tryalgo/"
    src="//comments.jiji.cat/tryalgo/js/embed.min.js"></script>

  <section id="isso-thread"></section>

  <div class="related">
    <h2>Sujets similaires</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
        <li>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
          <small>{{ post.date | date_to_string }}</small>
        </li>
      {% endfor %}
    </ul>
  </div>

</article>
